
/* ------------------ Navbar ------------------------- */

.shine{
  display:inline-block;
  position:relative;
  overflow:hidden;
  padding:2px;

  img{

    @-webkit-keyframes buzz {
      50% {
        -ms-transform: translateX(3px) rotate(2deg);
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      100% {
        -ms-transform: translateX(-3px) rotate(-2deg);
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
    }
    @keyframes buzz {
      50% {
        -ms-transform: translateX(3px) rotate(2deg);
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      100% {
        -ms-transform: translateX(-3px) rotate(-2deg);
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
    }
  }

  img:hover,
  img:focus,
  img:active {
    -webkit-animation-name: buzz;
    animation-name: buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
.shine:before{
  content:"";z-index:10;
  position:absolute;height:50%;width:200%;top:-120%;left:-120%;
  background:linear-gradient(transparent 0%,
          rgba(255, 255, 255, 0.1) 45%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0.1) 55%,
          transparent 100%);
  transition:all 3s;
  transform:rotate(55deg);
  animation: shine 3s infinite forwards;
}
@keyframes shine{
  0%{top:120%;left:-120%;}
  100%{left:120%;top:-120%;}

}
// -------------------------------- whistle-blowing
.wb {
  a.btn-normal {
    border: none;
    position: relative;

    &>div {
      padding: 20px;

      figure {
        margin-bottom: 30px;
        position: relative;

        &:before {
          content: '';
          border: 2px solid #fff;
          border-radius: 50% ;
        	-webkit-border-radius: 50% ;
        	-moz-border-radius: 50% ;
        	-o-border-radius: 50% ;
          height: 120px;
          left: 50%;
          opacity: 1;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 120px;
          z-index: -1;
          transition: all 0.3s ease-in-out ;
        	-webkit-transition: all 0.3s ease-in-out ;
        	-moz-transition: all 0.3s ease-in-out ;
        	-o-transition: all 0.3s ease-in-out ;
        }
      }
      p {
        color: #fff;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out ;
        -webkit-transition: all 0.3s ease-in-out ;
        -moz-transition: all 0.3s ease-in-out ;
        -o-transition: all 0.3s ease-in-out ;
      }
    }

    &:before {
      content: '';
      background: #ff8349;
      height: 3px;
      left: 0;
      position: absolute;
      bottom: 7px;
      width: 100%;
      z-index: -1;

      transition: all 0.3s ease-in-out ;
    	-webkit-transition: all 0.3s ease-in-out ;
    	-moz-transition: all 0.3s ease-in-out ;
    	-o-transition: all 0.3s ease-in-out ;
    }
    &:hover {
      background: none;

      p {
        color: #000;
      }
      &:before {
        height: 12px;
        z-index: 1;
      }
      figure {

        &:before {
          height: 110px;
          width: 110px;
          opacity: 0;
        }
      }
    }
  }
}
// -------------------------- IKT-logo animation
.work-process .process-steps .step-img img {
  background-color: #fff;
}
.shine-anim {
  animation: shineAnim 3s infinite;
  background:radial-gradient(transparent 0%,
        rgba(241, 255, 22, 0.1) 35%,
        rgba(240, 251, 71, 0.5) 60%,
        rgba(221, 247, 10, 0.1) 75%);
  border-radius: 50% ;
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -o-border-radius: 50% ;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  z-index: 2;
}
@keyframes shineAnim {
  from {
    height: 0;
    opacity: 1;
    width: 0;
  }
  to {
    height: 100%;
    opacity: 0;
    width: 100%;
  }
}
.shine-vid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  // -webkit-mask-image: url(../img/circleikt.png);
  // mask-image: url(../img/circleikt.png);
}
