/* --- Layout --- */
.rightWidth {
	width: 80%;
}
.navbar {
	padding: 10px 30px;
}
.navbar-brand {
	padding: 0px;

	img {
		height: 100%;
	}
}
.dropdown-submenu {
	position:relative;
	&>.dropdown-menu {
	    top: 0;
		left: 100%;
	}
}
#hero,#about,#vision,#news,#agenda,#recent-news,.figSlider {
	min-height: 100vh;
}
.figSlider {
	position: relative;
	overflow: hidden;

	&>img {
		position: absolute;
		@include img-bg();
		min-height:100vh;
	}
}
.fp-tooltip{
		color: #AAA;
}
#fp-nav span, .fp-slidesNav span{
  border-color: #AAA;
}
#fp-nav li .active span, .fp-slidesNav .active span{
  background: #AAA;
}
#about {
	padding: 0px 70px 0px 70px;

	.figAbout {

		.col-md-6 {
			padding: 0;

			figure {
				padding: 7px;

				img {
					@include img-bg();
					box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
				}
			}
		}
	}
}
#vision {
	padding: 0px 15px;

	.beRelative {
		min-height: 100vh;
	}
}
.visionSection,.missionSection{
	padding: 80px 70px 0;
}
.btFig-half {
	position: absolute;
    bottom: 0;
    max-height: 50vh;
    overflow: hidden;
}
.missionSection {
	min-height: 100vh;
}
.panel-heading {
	padding: 1px 15px;

	i {
		padding-right: 15px;
	}
}
.panel-body {
	padding: 0 50px 0 60px;
}
#news,#recent-news,#gallery,#testi,#news-list,#gallery-list {
	padding: 0px 40px;
}
.multiple-items,.recent-news {
	&>div {

		section {
			margin: 0 20px;
      text-align: center;
		}
	}

	figure {
		position: relative;
		overflow: hidden;

		img {
			@include img-bg();
			@include transition(0.6);
			background-size: 100%;
		}

		.overlay {
			@include overlay($blue,0.7);
			height: 60px;
			bottom: -60px;
			@include transition(0.3);
		}

		figcaption {
			bottom: -60px;
		    top: auto;
		    padding: 5px 20px;
		    @include transition(0.3);
		    color: #c0c0c0 ;
		    font-family: 'Roboto-Medium', sans-serif;

		    &:hover {
		    	color: $white;
		    }
		}
	}
	.newsList:hover {
		.overlay,figcaption {
			bottom: 0;
		}

		img {
			background-size: 100%;
		}
	}
}
#agenda {
	padding: 0px 70px;
}
.agendaSection {

	&>.row {
		position: relative;

		.col-md-6 {
			padding: 30px 0 30px 130px;
		}

		figure {
			position: absolute;
			top: 10vh;

			img {
				@include img-bg();
			}
		}
	}
}
#gallery {
	hr {
		margin-top: 50px;
	}
}
.galleryList {
	margin: 10px 0;
	position: relative;

	img {
		@include img-bg();
	}
}
#testi {
	height: 55vh;
	padding-top: 75px;
}
#contact {
	min-height: 45vh;
	overflow: hidden;
}
.contactInfo {
	padding: 30px 30px;

	i {
		min-width: 16px;
	}
}
.map {
	height: 45vh;
	position: relative;

	.overlay-map{
		position : absolute ;
		width: 100% ;
		height: 100% ;
		background : rgba(0,0,0,0.1) ;
	}

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.hiddenSec {
	height: 65vh;
}
footer {
	position: relative;
	height: 65vh;

	figure {
		margin: 0px auto 10px;
	}
}
#thisToggle,#thisToggle-r {
	display: none;
}
.img-ikt {
	figure {
		img {
			@include img-bg();
		}
	}
}
.img-ikt-top {
	figure {
		img {
			background-position: top;
		}
	}
}
/***********************************
news-list page
***********************************/
.heroTitle{
	position: relative;
	height: 45vh;
	overflow: hidden;
	@include img-bg();

	.overlay {
		top:0;
	}

	.container-fluid {
		position:absolute;
		bottom: 50px;
		width: 100%;
	}
}
#news-list {
	figure {
		img {
			@include img-bg();
			background-size: contain;
		}
	}
	.newsListSec {
		margin-top: 30px;
		position:relative;

		.textForNewsList {
			position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		}
	}
	.asideSec {
		margin-top: 30px;
	}
}
.tags {
	padding: 0px;

	li a {
		float: left;
	    display: block;
	    padding: 5px 20px;
	    margin: 10px 10px 0 0;
	}
}
.footer-1 {
	height: auto;
	// padding: 40px;

	.logoFooter {
		width: 120px;
		margin: 20px 0;
	}
}
/***********************************
news-detail page
***********************************/
#news-detail {
	padding: 30px 0;

	p {
		margin-bottom: 20px;
	}

	.socialMedia {
		li {
			a {
				@include radius(0);
				border: none;
				padding: 10px 15px;
			}
		}
	}
}
figcaption.caption {
	position: relative;
	left: auto;
	top: auto;
	transform: none;
	margin: 10px 0;
}
// display flex
.be-flex {
display: flex;
}
.flex-row-center {
	display: flex !important;
	flex-direction: row;
	align-items: center;
}
.flex-1 {
	flex: 1;
}

.bg-img {
  img {
    @include img-bg();
  }
}
.bg-img-contain {
  img {
    @include img-bg();
    background-size: contain;
  }
}
@media screen and (min-width: 992px)
{
	.service-media
	{
		width: 200%;
		height: auto;
	}
}

@media screen and (max-width: 992px)
{
	.service-media
	{
		width: 100%;
		height: auto;
	}
}

.rounded {
	@include radius(100%);
}

// card from bootstrap 4.0beta
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .card-group .card {
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

// offset right
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}
// *offset right

/* quote style "visi" */
.quote-card {
	background: #fff;
	color: #222222;
	padding: 20px;
	padding-left: 50px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
	position: relative;
	overflow: hidden;
	min-height: 120px;
	border-left: 5px solid #0078FF;
}
.quote-card h3 {
	line-height: 1.5;
	margin: 0;
	max-width: 80%;
}
.quote-card:before {
	font-family: Georgia, serif;
	content: "“";
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 5em;
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}
.quote-card:after {
	font-family: Georgia, serif;
	content: "”";
	position: absolute;
	bottom: -110px;
	line-height: 100px;
	right: -32px;
	font-size: 25em;
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}
@media (max-width: 640px) {
	.quote-card:after {
		font-size: 22em;
		right: -25px;
	}
}
.quote-card.blue-card {
	background: #0078FF;
	color: #ffffff;
	box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before, .quote-card.blue-card:after {
	color: #5FAAFF;
}


.puisi {
  border-left: 0px; }

/* to the top */
#return-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 35px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 8px;
  top: 5px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 3px;
}

/* //quote style "visi" */

@media (min-width: 992px){
    #res-roro{
      /*background-image: -webkit-linear-gradient(30deg, #f7f7f7 50%, transparent 50%);*/
      background-color: #fff;
      min-height: 500px;
    }
    #res{
      /*background-image: -webkit-linear-gradient(30deg, #f7f7f7 50%, transparent 50%);*/
      background-color: #f7f7f7;
      min-height: 500px;
    }
    #res-footer{
      /*background-image: -webkit-linear-gradient(30deg, #f7f7f7 50%, transparent 50%);*/
      background: black; 
      min-height: 350px;
    }
  }
  @media (min-width: 1200px){
    #res-roro{
      /*background-image: -webkit-linear-gradient(30deg, #f7f7f7 50%, transparent 50%);*/
      background: -webkit-linear-gradient(30deg, #fff 61%, transparent 71%), url("../img/roro_jadi.png") right 20%; 
      min-height: 500px;
    }
    #res{
      /*background-image: -webkit-linear-gradient(30deg, #f7f7f7 50%, transparent 50%);*/
      background: -webkit-linear-gradient(30deg, transparent 30%, #f7f7f7 40%), url("../img/worker_qual.png") left 20%; 
      min-height: 500px;
    }
    #res-footer{
      /*background-image: -webkit-linear-gradient(30deg, #f7f7f7 50%, transparent 50%);*/
      background: -webkit-linear-gradient(-30deg, black 60%, transparent 70%), url("../img/back_footer.jpg"); 
      min-height: 350px;
    }
  }

  .thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  .media-title{
    color: #2C82C9 !important;
  }
  .bullet {
    margin: 0 0 10px;
    ul{
      margin-left: -4%;
      li {
        list-style-type: circle;      
      }
    }
    ol{
     margin-left: -4%;
     li {
       list-style-type: upper-alpha;      
     }
    }
  }

  .bullet-number {
    margin: 0 0 10px;
      ol{
       margin-left: -4%;
       li {
         list-style-type: decimal;
         }      
     }
  }

  .dropcaps:first-of-type:first-letter {
  height: 0.7em;
  margin: 0.08em 0 -0.05em 0;
  padding: 0 0.065em 0 0;
  font-size: 5em;
  line-height: 0.85em;
  float: left;
}

/*-----------------
Annual Report
-----------------*/

.annual{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
.annual:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.annual-img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: auto;
	height: 200px !important;
	margin: 0 auto;
}